@import 'src/styles/mixins';

.homebase {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: center;

  @include mobile {
    margin-top: 44px;
  }
}

.swap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  flex-wrap: nowrap;
  width: 100%;

  @include ultra_desktop_max {
    gap: 40px;
  }

  @include medium-desktop {
    gap: 20px;
  }

  @include mobile {
    gap: 20px;
  }

  .tv-chart {
    position: relative;
    height: 500px;
    padding-top: 10px;
    transition: all 1s ease;

    &.hidden {
      height: 0;
    }
  }

  .swap-col {
    &.w60 {
      display: flex;
      flex-direction: column;
      gap: 24px;

      width: 100%;
      max-width: 1000px;
      // min-width: 500px;
    }

    &.w40 {
      width: 100%;
      max-width: 500px;

      @include medium-desktop {
        max-width: 400px;
      }
    }
  }
}

.powerBy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--Colors-Neutral-Text-body, #b4b7bb);
  text-align: center;

  font-size: 14px;
  font-weight: 400;

  margin-top: 8px;
}

.looking {
  color: var(--Colors-Neutral-Text-heading, #f7f7f7);
  font-size: 32px;
  font-weight: 700;
  line-height: 28px; /* 87.5% */

  width: 100%;
  text-align: center;
  padding: 16px 0;
  margin: 32px 0;
}

@include mobile {
  .swap-container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;

    .swap-col {
      &.w60 {
        width: 100%;
        max-width: unset;
      }

      &.w40 {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
