@import 'src/styles/mixins';
@import 'src/styles/themes';

.button {
  font-weight: 500;
  font-size: 16px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: $text-btn-surface-default;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background-color: $primary-surface-btn;
  color: $white-color;
  border: 1px;
  padding: 14.5px 39px;
  border-radius: 8px;
}

.primary-sm {
  background-color: $primary-surface-btn;
  font-weight: 400;
  color: $white-color;
  border: 1px;
  padding: 4px 16px;
  border-radius: 8px;
}

.secondary {
  border: 1px solid;
  padding: 14.5px 39px;
  border-radius: 8px;

  @include theme() {
    background-color: theme-get('neutral-surface-bg-section-3');
    // border-color: theme-get('neutral-text-text-token-name');
    color: theme-get('neutral-text-text-token-name');
  }
}

.primary-surface {
  background-color: $primary-surface-btn;
  font-weight: 400;
  color: $text-btn-surface-default;
  border: 1px;
  padding: 4px 16px;
  border-radius: 8px;
}

.secondary-sm {
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 8px;
  height: 36px;

  @include theme() {
    background-color: theme-get('neutral-surface-bg-section-3');
    // border-color: theme-get('neutral-text-text-token-name');
    color: theme-get('neutral-text-text-token-name');

    svg {
      path {
        // fill: theme-get('neutral-text-text-token-name');
      }
    }
  }

  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  white-space: nowrap;
}

.disable-sm {
  background-color: #efefef;
  color: #979995;

  @include theme() {
    color: theme-get('neutral-text-body');
    background-color: theme-get('neutral-surface-bg-section-2');
  }
}

.disable-sm.dark {
  background-color: #31332e;
}

.third {
  padding: 14.5px 39px;
  border-radius: 8px;

  @include theme() {
    // background-color: theme-get('neutral-surface-bg-section-3');
    border: 1px solid #383b40;
    background: #2e2e33;
    color: theme-get('neutral-text-text-token-name');
  }
}

.third-sm {
  padding: 8px 16px;
  border-radius: 8px;
  height: 36px;

  @include theme() {
    // background-color: theme-get('neutral-surface-bg-section-3');
    border: 1px solid #383b40;
    background: #2e2e33;
    color: theme-get('neutral-text-text-token-name');
  }

  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  white-space: nowrap;
}

.error {
  background-color: $error-bg-btn;
  color: $white-color;
  border: 1px;
  padding: 14.5px 39px;
  border-radius: 8px;
}

.error-sm {
  background-color: $error-bg-btn;
  font-weight: 400;
  color: $white-color;
  border: 1px;
  padding: 4px 16px;
  border-radius: 8px;
}
