@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.inputBalance {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-radius: 12px;
  background: #18181a;

  .title {
    @include theme {
      color: theme-get('neutral-9');
    }

    font-size: 14px;
    font-weight: 400;

    letter-spacing: 0.1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .text {
      color: var(--Colors-Neutral-Text-heading, #f7f7f7);
      font-size: 18px;
      font-weight: 700;
      line-height: 150%; /* 27px */

      @include small-mobile {
        font-size: 14px;
      }

      svg {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
      }

      a {
        color: var(--Colors-Primary-Text-action, #b999f3);
        font-family: 'IBM Plex Sans';
        font-size: 16px;
        font-weight: 500;
        line-height: 20px; /* 125% */

        padding: 4px 8px;

        @include mobile {
          display: none;
        }

        svg {
          path {
            fill: #b999f3;
          }

          vertical-align: sub;
          width: 20px;
          height: 20px;
        }
      }
    }

    .balance {
      text-align: right;

      @include small-mobile {
        font-size: 12px;
      }
    }
  }

  .inputWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    .input {
      display: flex;
      height: 54px;
      padding: 12px 16px;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      flex: 1;

      color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      border-radius: var(--Dimension-Corner-Radius-search-input, 8px);
      border: 1px solid var(--Colors-Neutral-Border-default, #383b40);

      background: var(--Colors-Neutral-Surface-action, #2e2e33);

      input {
        flex: 1;
        width: 70%;
      }

      .symbol {
        display: flex;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .usd {
        @include theme {
          color: theme-get('neutral-9');
        }
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1px;
      }
    }
  }

  .stakeBtn {
    button {
      white-space: nowrap;

      @include small-mobile {
        width: 100%;
        // max-width: 100px;
        font-size: 14px;
      }
    }

    &.inDesktop {
      @include small-mobile {
        display: none;
      }
    }

    &.inMobile {
      display: none;

      @include small-mobile {
        display: block;
      }
    }
  }

  .coeff {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    .button {
      display: flex;
      height: 32px;
      padding: 14px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;

      border-radius: var(--Dimension-Corner-Radius-button, 8px);
      border: 1px solid var(--Colors-Neutral-Border-default, #383b40);
      background: var(--Colors-Neutral-Surface-action, #2e2e33);

      color: var(--Colors-Neutral-Icon-default-on-light-bg, #fff);
      text-align: center;
      font-family: 'IBM Plex Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */

      @include small-mobile {
        padding: 0px 12px 0px 12px;
      }

      &:hover {
        @include theme() {
          background-color: theme-get('neutral-surface-bg-section-hover');
          opacity: 1;
        }
      }

      &.active {
        @include theme() {
          color: theme-get('sea-stone-800');
          border: 1px solid theme-get('sea-stone-800');
          background-color: theme-get('neutral-surface-bg-section-active');
        }
      }
    }
  }
}
