@import 'src/styles/themes';
@import 'src/styles/mixins';

.assetsTab {
  width: 100%;

  border: 1px solid #383b40;

  border-radius: 12px;

  .info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 24px 24px 16px 24px;

    @include small-mobile {
      // flex-wrap: wrap;
    }

    @include mobile() {
      padding: 12px;
      gap: 12px;

      margin: 4px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 16px;

      color: #f7f7f7;
      font-size: 18px;
      font-weight: 600;
      line-height: 150%; /* 27px */

      flex-wrap: wrap;

      .index {
        color: #83838a;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%; /* 27px */
      }

      .btn {
        display: flex;
        height: 32px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #383b40;
        background: #2e2e33;

        color: #fff;
        font-family: 'IBM Plex Sans';
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */

        @include small-mobile {
          // display: none;
        }
      }
    }

    .usd {
      color: var(--Colors-Neutral-Text-heading, #f7f7f7);
      font-size: 20px;
      font-weight: 600;
      line-height: 150%; /* 30px */
    }
  }
}

.table {
  tbody {
    height: 300px;
    overflow-y: scroll;
    display: block;
  }

  th {
    color: var(--Colors-Neutral-Text-placeholder, #83838a);
    font-family: 'IBM Plex Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: 0.012px;
  }

  margin-bottom: 24px;
}

.assets {
  display: flex;

  @include mobile() {
    padding-left: 0px;
    text-align: center;
  }

  .left {
    display: flex;
    align-items: center;

    .tokenIcon {
      width: 35px;
      height: 35px;

      @include mobile() {
        width: 25px;
        height: 25px;
      }
    }
  }

  .right {
    padding-left: 8px;
    text-align: left;

    .assetName {
      @include theme() {
        color: theme-get('sea-stone-200');
      }

      font-size: 14px;
      font-weight: 500;
      width: 100%;
      text-transform: uppercase;
      -webkit-box-orient: vertical;
      white-space: nowrap;

      @include mobile() {
        white-space: wrap;
      }

      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .assetChain {
      font-size: 13px;
      font-weight: 400;
      width: 100%;
      display: -webkit-box;
      text-transform: capitalize;
      -webkit-box-orient: vertical;
      white-space: nowrap;

      @include mobile() {
        white-space: wrap;
        font-size: 12px;
      }

      overflow: hidden;
      -webkit-line-clamp: 1;

      @include theme() {
        color: theme-get('sea-stone-200');
      }
    }
  }
}

.price {
  display: flex;
  justify-content: flex-start;

  @include mobile() {
    padding-left: 0px;
    font-size: 12px;
  }
}

.balance {
  @include mobile() {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
  }
  &-assets {
    font-size: 13px;
    @include theme() {
      color: theme-get('neutral-text-body');
    }
    @include mobile() {
      font-size: 10px;
      white-space: pre-wrap;
    }
  }
}

.balance-low {
  @include theme() {
    color: theme-get('neutral-text-body');
  }
}

.valuesColumn {
  display: flex;

  .action {
    @include theme() {
      color: theme-get('colors-primary-text-action');
    }
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  @include mobile() {
    font-size: 12px;
  }
}
