@import 'src/styles/themes';
@import 'src/styles/mixins';

.feature {
  width: 100%;
  max-width: 1524px;
  margin: 32px auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    color: var(--Colors-Neutral-Text-heading, #f7f7f7);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .listWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      color: var(--Colors-Neutral-Text-placeholder, #83838a);
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
    }

    .list {
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 24px;

      @include medium-desktop {
        grid-template-columns: repeat(2, auto);
      }

      @include mobile {
        grid-template-columns: repeat(2, auto);
      }

      @include small-mobile {
        grid-template-columns: repeat(1, auto);
      }

      a {
        flex: 1;

        img {
          width: 100%;
          transition: all ease-in-out 0.2s;

          // min-width: 300px;
          &:hover {
            transform: scale(1.05);
            // opacity: 0.7;
          }
        }
      }
    }
  }

  .ecosystem {
    display: flex;
    height: 56px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // align-self: stretch;
    width: fit-content;
    transition: all ease-in-out 0.2s;

    &:hover {
      opacity: 0.7;
    }

    border-radius: var(--Dimension-Corner-Radius-button, 8px);
    border: 1px solid var(--Colors-Neutral-Border-default, #383b40);
    background: var(--Colors-Neutral-Surface-action, #2e2e33);

    color: var(--Colors-Neutral-Text-action-on-light-bg, #fff);
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
}
