@import 'src/styles/mixins';
@import 'src/styles/themes';

.menu {
  display: flex;
  // justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  height: $menu-height;
  .logo {
    display: flex;
  }
  @include theme() {
    background-color: theme-get('neutral-surface-background');
    border-bottom: 1px solid theme-get('neutral-border-default');
  }
}

.menuMobile {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 100%;
  padding: 16px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  height: $menu-height;

  & > :first-child {
    margin-right: auto;
  }

  &_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-left: 10px;
    color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  @include theme() {
    background-color: theme-get('neutral-surface-bg');
    border-bottom: 1px solid theme-get('neutral-border-border-default');
  }
}

.sideMenu {
  margin-left: -255px;
  // width: 55%;
  width: 255px;
  height: 100vh;
  // padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $zindex-sticky;
  overflow: auto;
  transition: margin-left 0.2s ease-in-out;
  overflow-x: hidden;

  &.open {
    margin-left: 0;

    & > div {
      margin-left: 0;
      padding-top: 20px;
      top: 0;
    }
  }

  @include theme() {
    background-color: theme-get('bg-color');
  }

  .menu_list {
    flex-direction: column;
    margin-left: 0;

    .menu_item_help {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &_left {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .divider {
      @include theme() {
        background-color: theme-get('neutral-border-border-default');
      }

      width: 100%;
      height: 1px;
      margin-bottom: 12px;
    }
  }

  .mobile_sub_menu {
    display: none;
  }

  .openSubMenu {
    display: block;
  }
}

.menu_others_list {
  min-height: 100px;
  width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 6px;
  gap: 4px;
  padding: 8px;
  color: $white-color;
  background-color: $dropdown-bg-color-dark;
  border: 1px solid $dropdown-border-color-dark;
  margin-top: 25px;

  @include mobile {
    margin-top: 0;
  }

  &.light {
    color: $dropdown-color-light;
    background-color: $white-color;
    border: 1px solid $dropdown-border-color-light;

    .menu_item:hover {
      background: $dropdown-bg-color-hover-light;
    }

    .menu_item {
      color: #494949;
    }

    svg {
      path {
        stroke: #494949;
      }
    }
  }

  .menu_item {
    width: 100%;
    margin-left: 0;
  }
}

.wrapMenuRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  @include theme() {
    background-color: theme-get('neutral-surface-background');
    border-right: 1px solid theme-get('neutral-border-default');
  }
  .logoWrapper {
    display: flex;
    align-items: center;
  }
  .divider {
    // @include theme() {
    //   border: 1px solid theme-get('neutral-border-border-bold');
    // }

    width: 1px;
    margin-left: 24px;
    height: 40px;
  }
}

.menuRight {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  padding-right: 20px;

  @include medium-desktop {
    gap: 10px;
  }

  .divider {
    @include theme() {
      border: 1px solid theme-get('neutral-border-border-bold');
    }

    width: 1px;
    height: 40px;

    // @include medium-desktop {
    //   display: none;
    // }
  }

  .menu_list_right {
    display: flex;
    align-items: center;
    .menu_item {
      display: flex;
      align-items: center;
      gap: 6px;

      svg {
        display: inline-flex;

        @include theme() {
          path {
            stroke: theme-get('neutral-text-title');
          }
        }
      }
    }
  }
}

.menu_list {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;

  .divider {
    @include theme() {
      background-color: theme-get('neutral-border-border-default');
    }

    width: 100%;
    height: 1px;
  }

  .menu_list_left {
    display: flex;
  }

  .menu_item {
    @include theme() {
      svg {
        path {
          stroke: theme-get('neutral-text-title');
        }
      }
    }

    .hoverIcon {
      display: flex;
      visibility: hidden;
    }

    &:hover {
      .hoverIcon {
        visibility: visible;
      }

      @include theme() {
        background-color: theme-get('neutral-border-border-bold');
      }
    }

    &_text {
      font-size: 14px;
      line-height: 100%;
      justify-items: center;
      font-weight: 500;

      @include theme() {
        color: theme-get('neutral-text-title');
      }
    }

    &_others {
      display: flex;
    }

    @include mobile() {
      margin-bottom: 18px;
      margin-left: 0;
      margin-right: 0;
      width: fit-content;
    }
  }
}

.connect_wallet_wrapper {
  display: flex;
  align-items: center;
}

.menu_item {
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-left: 17px;
  cursor: pointer;
  border-radius: 99px;
  gap: 10px;

  @include medium-desktop {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px;
  }

  @include theme() {
    color: theme-get('neutral-text-title');
  }

  &:hover {
    @include theme() {
      background-color: theme-get('neutral-border-border-bold');
    }
  }
}
