@import 'src/styles/mixins';
@import 'src/styles/themes';

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  min-width: $sidebar-width;
  position: fixed;
  gap: 10px;
  top: $menu-height;
  bottom: 0;
  overflow-y: auto;
  @include mobile {
    margin-left: calc(-1 * $sidebar-width);
    padding-top: 75px;
    overflow: auto;
    width: $sidebar-width;
    min-width: $sidebar-width;

    &.open {
      margin-left: 0;
    }
  }

  @include theme() {
    background-color: theme-get('neutral-surface-background');
    border-right: 1px solid theme-get('neutral-border-default');
  }

  &_menu {
    padding: 0 12px;
  }

  &_divied {
    margin-top: 8px;
    @include theme() {
      border: 0.5px solid theme-get('neutral-border-default');
    }
  }
}

.menu_items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.menu_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  @include theme() {
    border-color: theme-get('neutral-border-light');
    &:hover {
      border-radius: 8px;
      border-image: url('../assets/icons/row.svg') 22 / 35px;
      background-color: theme-get('neutral-surface-action');
      .menu_item_text {
        color: theme-get('neutral-text-title');
      }
    }
  }

  &_tab {
    display: flex;
    align-items: center;

    svg {
      vertical-align: middle;
    }
  }

  // &.dark {
  //   svg {
  //     path {
  //       stroke: #efefef;
  //     }
  //   }
  // }

  &.active {
    @include theme() {
      border-radius: 8px;
      border-image: url('../assets/icons/row.svg') 22 / 35px;
      background-color: theme-get('neutral-surface-action');
      .menu_item_text {
        color: theme-get('neutral-text-title');
      }
    }
  }

  &_text {
    font-weight: 400;
    font-size: 16px;

    @include theme() {
      color: theme-get('neutral-text-inactive-title');
    }
  }
  &_tab {
    display: flex;
    align-items: center;
  }
}

.download {
  padding: 12px 6px 12px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  border-radius: var(--Dimension-Corner-Radius-row, 8px);
  background: var(--Colors-Neutral-Surface-card, #18181a);

  background-image: url(../assets/images/owallet_bg_download.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  // svg {
  //   width: 36px;
  //   height: 36px;
  // }

  // color: var(--Colors-Neutral-Text-title, #f5f5f7);
  // font-family: 'IBM Plex Sans';
  // font-size: 16px;
  // font-weight: 500;
  // line-height: 26px; /* 162.5% */
  // letter-spacing: -0.08px;

  // &:hover {
  //   opacity: 0.7;
  // }
}

.social {
  display: flex;
  padding: var(--Dimension-Padding-modal-y-padding, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Dimensions-24, 24px);
  align-self: stretch;
  transition: all ease-in-out 0.2s;

  a {
    &:hover {
      opacity: 0.7;
      svg {
        transform: scale(1.05);
      }
    }
  }

  svg {
    cursor: pointer;
  }
}

// .menu_footer {
//   text-align: center;
//   border-radius: 12px;
//   padding: 12px;
//   font-size: 14px;
//   cursor: pointer;

//   @include theme() {
//     background-color: theme-get('neutral-surface-bg-section-2');
//   }

//   .download {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     @include theme() {
//       color: theme-get('neutral-text-title');

//       svg {
//         path {
//           fill: theme-get('sea-stone-200');
//         }
//       }
//     }
//   }
// }
